In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/KonstantinKlepikov/covid-kaliningrad/main/data/data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 73 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   дата                                             304 non-null    object
 1   всего                                            304 non-null    float64
 2   infection rate                                   304 non-null    object
 3   ОРВИ                                             304 non-null    float64
 4   пневмония                                        304 non-null    float64
 5   без симптомов                                    304 non-null    float64
 6   кол-во тестов                                    304 non-null    float64
 7   пенсионеры                                       304 non-null    float64
 8   мед.работники                                    304 non-null    float64
 9   пром.предприятия                                 304 non-null    float64
 10  образов.уч.                                      304 non-null    float64
 11  транспортн.предприятие                           304 non-null    float64
 12  торговля и питание                               304 non-null    float64
 13  пищ.пром                                         304 non-null    float64
 14  ЖКХ                                              304 non-null    float64
 15  банки, юрфирмы, агентства недвиж.                304 non-null    float64
 16  правоохранит.                                    304 non-null    float64
 17  быт.услуги и досуг                               304 non-null    float64
 18  гостиницы, санатории                             304 non-null    float64
 19  культура                                         304 non-null    float64
 20  телеком                                          304 non-null    float64
 21  сх                                               304 non-null    float64
 22  охрана                                           304 non-null    float64
 23  вахтовики                                        304 non-null    float64
 24  ИП и иные                                        304 non-null    float64
 25  интернаты, биспансеры                            304 non-null    float64
 26  дошкольники                                      304 non-null    float64
 27  школьники                                        304 non-null    float64
 28  студенты                                         304 non-null    float64
 29  не работают/самозаняты                           304 non-null    float64
 30  выписали                                         304 non-null    float64
 31  умерли от ковид                                  304 non-null    float64
 32  умерли в палатах для ковид/пневмония с 1 апреля  304 non-null    float64
 33  доступно под ковид                               304 non-null    float64
 34  занято под ковид                                 304 non-null    float64
 35  доступно ИВЛ                                     304 non-null    float64
 36  занято ИВЛ                                       304 non-null    float64
 37  доступно под ковид и пневмонию                   304 non-null    float64
 38  занято под ковид и пневмонию                     304 non-null    float64
 39  44348                                            304 non-null    float64
 40  7-14                                             304 non-null    float64
 41  15-17                                            304 non-null    float64
 42  18-29                                            304 non-null    float64
 43  30-49                                            304 non-null    float64
 44  50-64                                            304 non-null    float64
 45  65+                                              304 non-null    float64
 46  мужчины                                          304 non-null    float64
 47  женщины                                          304 non-null    float64
 48  служащие                                         304 non-null    float64
 49  Калининград                                      304 non-null    float64
 50  Гурьевский городской округ                       304 non-null    float64
 51  Багратионовский городской округ                  304 non-null    float64
 52  Правдинский городской округ                      304 non-null    float64
 53  Гусевский городской округ                        304 non-null    float64
 54  Балтийский городской окру                        304 non-null    float64
 55  Черняховский городской окру                      304 non-null    float64
 56  Зеленоградский городской окру                    304 non-null    float64
 57  Светловский городской округ                      304 non-null    float64
 58  Гвардейский городской округ                      304 non-null    float64
 59  Славский городской окру                          304 non-null    float64
 60  Ладушкинский городской округ                     304 non-null    float64
 61  Нестеровский городской округ                     304 non-null    float64
 62  Светлогорский городской округ                    304 non-null    float64
 63  Пионерский городской округ                       304 non-null    float64
 64  Неманский городской округ                        304 non-null    float64
 65  Полесский городской округ                        304 non-null    float64
 66  Краснознаменский городской округ                 304 non-null    float64
 67  Озёрский городской округ                         304 non-null    float64
 68  Янтарный городской округ                         304 non-null    float64
 69  Мамоновский городской округ                      304 non-null    float64
 70  Советский городской окру                         304 non-null    float64
 71  другие регионы                                   304 non-null    float64
 72  учебные учреждения                               304 non-null    object
dtypes: float64(70), object(3)
memory usage: 173.5+ KB

In [46]:
# df_dict = dict.fromkeys(data.columns, 'col')
data1 = data.reset_index()
data1 = data.drop(['дата', 'учебные учреждения'], axis=1)
data1.columns = range(data1.shape[1])
# data1 = data1.rename(columns = df_dict)
data1.replace(to_replace=0, value=np.nan, inplace=True)
data1

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,221.0,171.0,38.0,12.0,2100.0,37.0,40.0,6.0,11.0,6.0,...,6.0,5.0,3.0,8.0,1.0,6.0,3.0,5.0,18.0,NaN
298,225.0,207.0,16.0,2.0,2408.0,96.0,13.0,7.0,13.0,7.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,1.0,NaN
299,221.0,179.0,35.0,7.0,3080.0,27.0,35.0,5.0,16.0,13.0,...,5.0,3.0,7.0,1.0,1.0,2.0,1.0,2.0,17.0,NaN
300,208.0,162.0,37.0,9.0,3248.0,54.0,31.0,8.0,4.0,11.0,...,3.0,3.0,1.0,2.0,4.0,1.0,NaN,1.0,13.0,NaN
301,216.0,157.0,49.0,10.0,529.0,31.0,26.0,7.0,15.0,11.0,...,3.0,1.0,NaN,3.0,11.0,1.0,4.0,2.0,3.0,NaN

In [47]:
profile = ProfileReport(data1)

In [ ]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/79 [00:00<?, ?it/s]

/home/konstantin/anaconda3/envs/covid-kaliningrad/lib/python3.8/site-packages/numpy/core/_methods.py:216: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims)
/home/konstantin/anaconda3/envs/covid-kaliningrad/lib/python3.8/site-packages/numpy/core/_methods.py:192: RuntimeWarning: overflow encountered in reduce
  arrmean = umr_sum(arr, axis, dtype, keepdims=True)
/home/konstantin/anaconda3/envs/covid-kaliningrad/lib/python3.8/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/konstantin/anaconda3/envs/covid-kaliningrad/lib/python3.8/site-packages/numpy/core/_methods.py:205: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
/home/konstantin/anaconda3/envs/covid-kaliningrad/lib/python3.8/site-packages/numpy/core/_methods.py:205: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
2021-01-04 02:39:14.139 INFO    matplotlib.category: Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.
2021-01-04 02:39:14.140 INFO    matplotlib.category: Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(data['дата'])

0      2020-03-08
1      2020-03-09
2      2020-03-10
3      2020-03-11
4      2020-03-12
5      2020-03-13
6      2020-03-14
7      2020-03-15
8      2020-03-16
9      2020-03-17
10     2020-03-18
11     2020-03-19
12     2020-03-20
13     2020-03-21
14     2020-03-22
15     2020-03-23
16     2020-03-24
17     2020-03-25
18     2020-03-26
19     2020-03-27
20     2020-03-28
21     2020-03-29
22     2020-03-30
23     2020-03-31
24     2020-04-01
25     2020-04-02
26     2020-04-03
27     2020-04-04
28     2020-04-05
29     2020-04-06
30     2020-04-07
31     2020-04-08
32     2020-04-09
33     2020-04-10
34     2020-04-11
35     2020-04-12
36     2020-04-13
37     2020-04-14
38     2020-04-15
39     2020-04-16
40     2020-04-17
41     2020-04-18
42     2020-04-19
43     2020-04-20
44     2020-04-21
45     2020-04-22
46     2020-04-23
47     2020-04-24
48     2020-04-25
49     2020-04-26
50     2020-04-27
51     2020-04-28
52     2020-04-29
53     2020-04-30
54     2020-05-01
55     2020-05-02
56     2020-05-03
57     2020-05-04
58     2020-05-05
59     2020-05-06
60     2020-05-07
61     2020-05-08
62     2020-05-09
63     2020-05-10
64     2020-05-11
65     2020-05-12
66     2020-05-13
67     2020-05-14
68     2020-05-15
69     2020-05-16
70     2020-05-17
71     2020-05-18
72     2020-05-19
73     2020-05-20
74     2020-05-21
75     2020-05-22
76     2020-05-23
77     2020-05-24
78     2020-05-25
79     2020-05-26
80     2020-05-27
81     2020-05-28
82     2020-05-29
83     2020-05-30
84     2020-05-31
85     2020-06-01
86     2020-06-02
87     2020-06-03
88     2020-06-04
89     2020-06-05
90     2020-06-06
91     2020-06-07
92     2020-06-08
93     2020-06-09
94     2020-06-10
95     2020-06-11
96     2020-06-12
97     2020-06-13
98     2020-06-14
99     2020-06-15
100    2020-06-16
101    2020-06-17
102    2020-06-18
103    2020-06-19
104    2020-06-20
105    2020-06-21
106    2020-06-22
107    2020-06-23
108    2020-06-24
109    2020-06-25
110    2020-06-26
111    2020-06-27
112    2020-06-28
113    2020-06-29
114    2020-06-30
115    2020-07-01
116    2020-07-02
117    2020-07-03
118    2020-07-04
119    2020-07-05
120    2020-07-06
121    2020-07-07
122    2020-07-08
123    2020-07-09
124    2020-07-10
125    2020-07-11
126    2020-07-12
127    2020-07-13
128    2020-07-14
129    2020-07-15
130    2020-07-16
131    2020-07-17
132    2020-07-18
133    2020-07-19
134    2020-07-20
135    2020-07-21
136    2020-07-22
137    2020-07-23
138    2020-07-24
139    2020-07-25
140    2020-07-26
141    2020-07-27
142    2020-07-28
143    2020-07-29
144    2020-07-30
145    2020-07-31
146    2020-08-01
147    2020-08-02
148    2020-08-03
149    2020-08-04
150    2020-08-05
151    2020-08-06
152    2020-08-07
153    2020-08-08
154    2020-08-09
155    2020-08-10
156    2020-08-11
157    2020-08-12
158    2020-08-13
159    2020-08-14
160    2020-08-15
161    2020-08-16
162    2020-08-17
163    2020-08-18
164    2020-08-19
165    2020-08-20
166    2020-08-21
167    2020-08-22
168    2020-08-23
169    2020-08-24
170    2020-08-25
171    2020-08-26
172    2020-08-27
173    2020-08-28
174    2020-08-29
175    2020-08-30
176    2020-08-31
177    2020-09-01
178    2020-09-02
179    2020-09-03
180    2020-09-04
181    2020-09-05
182    2020-09-06
183    2020-09-07
184    2020-09-08
185    2020-09-09
186    2020-09-10
187    2020-09-11
188    2020-09-12
189    2020-09-13
190    2020-09-14
191    2020-09-15
192    2020-09-16
193    2020-09-17
194    2020-09-18
195    2020-09-19
196    2020-09-20
197    2020-09-21
198    2020-09-22
199    2020-09-23
200    2020-09-24
201    2020-09-25
202    2020-09-26
203    2020-09-27
204    2020-09-28
205    2020-09-29
206    2020-09-30
207    2020-10-01
208    2020-10-02
209    2020-10-03
210    2020-10-04
211    2020-10-05
212    2020-10-06
213    2020-10-07
214    2020-10-08
215    2020-10-09
216    2020-10-10
217    2020-10-11
218    2020-10-12
219    2020-10-13
220    2020-10-14
221    2020-10-15
222    2020-10-16
223    2020-10-17
224    2020-10-18
225    2020-10-19
226    2020-10-20
227    2020-10-21
228    2020-10-22
229    2020-10-23
230    2020-10-24
231    2020-10-25
232    2020-10-26
233    2020-10-27
234    2020-10-28
235    2020-10-29
236    2020-10-30
237    2020-10-31
238    2020-11-01
239    2020-11-02
240    2020-11-03
241    2020-11-04
242    2020-11-05
243    2020-11-06
244    2020-11-07
245    2020-11-08
246    2020-11-09
247    2020-11-10
248    2020-11-11
249    2020-11-12
250    2020-11-13
251    2020-11-14
252    2020-11-15
253    2020-11-16
254    2020-11-17
255    2020-11-18
256    2020-11-19
257    2020-11-20
258    2020-11-21
259    2020-11-22
260    2020-11-23
261    2020-11-24
262    2020-11-25
263    2020-11-26
264    2020-11-27
265    2020-11-28
266    2020-11-29
267    2020-11-30
268    2020-12-01
269    2020-12-02
270    2020-12-03
271    2020-12-04
272    2020-12-05
273    2020-12-06
274    2020-12-07
275    2020-12-08
276    2020-12-09
277    2020-12-10
278    2020-12-11
279    2020-12-12
280    2020-12-13
281    2020-12-14
282    2020-12-15
283    2020-12-16
284    2020-12-17
285    2020-12-18
286    2020-12-19
287    2020-12-20
288    2020-12-21
289    2020-12-22
290    2020-12-23
291    2020-12-24
292    2020-12-25
293    2020-12-26
294    2020-12-27
295    2020-12-28
296    2020-12-29
297    2020-12-30
298    2020-12-31
299    2021-01-01
300    2021-01-02
301    2021-01-03
302    2021-01-04
303    2021-01-05
Name: дата, dtype: object

In [8]:
import requests
import os

def loader(file_id, file_url, sheet_name):

    url = file_url.format_map(vars())
    get = requests.get(url)
    if get.status_code == 200:
        if sheet_name == 'data':
            table = pd.read_csv(url, parse_dates=['дата'], dayfirst=True)
        else:
            table = pd.read_csv(url)
    return table

def main():

    file_id = '1iAgNVDOUa-g22_VcuEAedR2tcfTlUcbFnXV5fMiqCR8'
    file_url = 'https://docs.google.com/spreadsheets/d/{file_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
    sheets = ['data', 'destrib', 'rosstat']

    loaded = {}
    for sheet_name in sheets:
        loaded[sheet_name] = loader(file_id, file_url, sheet_name)

    # data
    loaded['data'].fillna(0, inplace=True)
    loaded['data']['infection rate'] = loaded['data']['infection rate'].apply(lambda x: str(x))
    loaded['data']['infection rate'] = loaded['data']['infection rate'].apply(lambda x: x.replace(',', '.'))
    loaded['data']['кумул. случаи'] = loaded['data']['всего'].cumsum()
    loaded['data']['кумул.умерли'] = loaded['data']['умерли от ковид'].cumsum()
    loaded['data']['кумул.выписаны'] = loaded['data']['выписали'].cumsum()
    loaded['data']['кумул.активные'] = loaded['data']['кумул. случаи'].sub(loaded['data']['кумул.выписаны']).sub(loaded['data']['кумул.умерли'])
    loaded['data']['кол-во тестов / 10'] = loaded['data']['кол-во тестов'] / 10
    loaded['data']['все кроме Калининграда'] = loaded['data'].filter(regex='округ').sum(axis=1)
    loaded['data'].drop(['учебные учреждения'], axis=1, inplace=True)
    loaded['data']['infection rate'] = loaded['data']['infection rate'].astype(np.float16) 
    for i in loaded['data'].columns.difference(['дата', 'infection rate', 'кол-во тестов / 10']):
        loaded['data'][i] = loaded['data'][i].astype(np.int16)
    
    return loaded['data']
        
this = main()

In [9]:
this

,дата,всего,infection rate,ОРВИ,пневмония,без симптомов,кол-во тестов,пенсионеры,мед.работники,пром.предприятия,...,Янтарный городской округ,Мамоновский городской округ,Советский городской округ,другие регионы,кумул. случаи,кумул.умерли,кумул.выписаны,кумул.активные,кол-во тестов / 10,все кроме Калининграда
0,2020-03-08,1,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0.0,0
1,2020-03-09,0,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0.0,0
2,2020-03-10,0,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0.0,0
3,2020-03-11,0,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0.0,0
4,2020-03-12,1,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,2,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,2021-01-04,214,0.979980,177,27,10,585,41,19,8,...,0,2,5,0,18655,196,16853,1606,58.5,85
303,2021-01-05,211,0.959961,202,9,0,1744,41,5,14,...,0,0,5,0,18866,196,17087,1583,174.4,46
304,2021-01-06,215,0.979980,179,30,6,983,48,23,9,...,3,0,5,0,19081,196,17288,1597,98.3,124
305,2021-01-07,194,0.959961,175,12,7,2197,81,9,5,...,0,0,0,0,19275,196,17486,1593,219.7,0
306,2021-01-08,197,0.950195,170,23,4,2253,60,5,11,...,0,2,6,0,19472,197,17651,1624,225.3,54